<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.voidns.proxy</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/PrivilegedHelperTools/net.voidns.proxy</string>
        <string>run</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>

    <key>EnvironmentVariables</key>
    <dict>
        <key>VOIDNS_PORT</key>
        <string>53</string>
        <key>VOIDNS_SOCK</key>
        <string>/var/run/net.voidns.proxy.sock</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/var/log/net.voidns.proxy.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/net.voidns.proxy.err</string>
</dict>
</plist>
